<style>
    .hero {
        position: relative;
        height: 100vh;
        width: 100%;
        overflow: hidden;
    }

    .hero img {
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        min-width: 100%;
        object-fit: cover;
        object-position: center;
        z-index: 0;
    }

    .overlay {
        position: absolute;
        max-width: 650px;
        top: 50%;
        left: 50%  ;
        transform: translate(-50%, -50% ) ;
        border: 1px solid white;
    }

    .hero h1 {
        z-index: 1;
        color: white;
        
        margin: 20px;
        font-family: var(--ff-josefin);
        font-weight: 300;
        text-transform: uppercase;
        font-size: 40px;
    }
</style>

<section class="hero">
    <img
        src="/loopstudios-landing-page/images/gallery/mobile/image-hero.jpg"
        srcset="
        /loopstudios-landing-page/images/gallery/mobile/image-hero.jpg 400w,
        /loopstudios-landing-page/images/gallery/mobile/image-hero.jpg 750w,
        /loopstudios-landing-page/images/gallery/desktop/image-hero.jpg 1440w
    "
        sizes="(max-width: 480px) 100vw, (max-width: 1024px) 80vw, 1440px"
        alt=""
    />
    <span class="overlay">
        <h1>Immersive experiences that deliver</h1>
    </span>
</section>
