<style>
    .hero {
        position: relative;
        height: 100vh;
        max-height: 650px;
        width: 100%;
        overflow: hidden;
    }
    .hero img {
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        min-width: 100%;
        object-fit: cover;
        object-position: center;
        z-index: 0;
    }
    .overlay-container {
        position: relative;
        display: flex;
        height: 740px;
        align-items: center;
        margin: 0;
    }
    .overlay {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        max-width: 650px;
        width: 100%;
    }
    .hero h1 {
        z-index: 0;
        color: white;
        font-family: var(--ff-josefin);
        font-weight: 300;
        text-transform: uppercase;
        font-size: 40px;
        padding: 20px 25px;
        margin: 0;
        line-height: 1;
    }

    @media (min-width: 320px) {
        .overlay-container {
            margin: 0 25px;
        }

        .overlay {
            border: 1px solid white;
        }
    }

    @media (min-width: 700px) {
        .hero h1 {
            font-size: 56px;
            padding: 40px 45px;
        }
        .overlay {
            height: 280px;
        }
    }
    @media (min-width: 1024px) {
        .hero h1 {
            font-size: 72px;
        }

        .overlay-container {
            max-width: 1110px;
            margin: 0 auto;
        }

        .overlay {
            left: 0;
            margin: 0;
        }
    }
</style>

<section class="hero">
    <img
        src="/loopstudios-landing-page/images/gallery/mobile/image-hero.jpg"
        srcset="
        /loopstudios-landing-page/images/gallery/mobile/image-hero.jpg 400w,
        /loopstudios-landing-page/images/gallery/mobile/image-hero.jpg 750w,
        /loopstudios-landing-page/images/gallery/desktop/image-hero.jpg 1440w
    "
        sizes="(max-width: 480px) 100vw, (max-width: 1024px) 80vw, 1440px"
        alt=""
    />
    <div class="overlay-container">
        <span class="overlay">
            <h1>Immersive experiences that deliver</h1>
        </span>
    </div>
</section>
